In [1]:
import pandas as pd
import numpy as np

In [2]:
nba = pd.read_csv(r"../csv/all_seasons.csv")
pd.options.display.max_columns = None
pd.set_option('display.max_rows',50)
nba.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,42,64,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97
1,1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,34,4,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97
2,2,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,12,41,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97
3,3,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,7,64,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97
4,4,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,22,52,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97

In [3]:
# limpieza de columnas no necesarias para el estudio.
nba = nba.drop(columns=["Unnamed: 0", "draft_year","draft_round", "draft_number", "net_rating", "college"])

In [4]:
#Pasamos a Int los datos que nos hacen falta
nba.player_height = nba.player_height.astype(int)
nba.age = nba.age.astype(int)
nba.player_weight = nba.player_weight.round(1)
nba.usg_pct = nba.usg_pct.round(2)
nba.ts_pct = nba.ts_pct.round(2)
nba.ast_pct = nba.ast_pct.round(2)
nba.oreb_pct = nba.oreb_pct.round(2)
nba.dreb_pct = nba.dreb_pct.round(2)

In [5]:
nba.team_abbreviation.unique()

array(['HOU', 'WAS', 'VAN', 'LAL', 'DEN', 'ORL', 'CHH', 'MIL', 'DET',
       'POR', 'DAL', 'UTA', 'SEA', 'BOS', 'IND', 'SAS', 'MIA', 'ATL',
       'NJN', 'LAC', 'GSW', 'PHI', 'NYK', 'TOR', 'PHX', 'MIN', 'CHI',
       'SAC', 'CLE', 'MEM', 'NOH', 'CHA', 'NOK', 'OKC', 'BKN', 'NOP'],
      dtype=object)

In [6]:
# juntamos las franquicias antiguas por las modernas para tener unos datos unicos de los equipos reales.
nba.team_abbreviation=np.where(np.isin(nba.team_abbreviation, ['SEA']), 'OKC', nba.team_abbreviation)
nba.team_abbreviation=np.where(np.isin(nba.team_abbreviation, ['CHA']), 'CHH', nba.team_abbreviation)
nba.team_abbreviation=np.where(np.isin(nba.team_abbreviation, ['NJN']), 'BKN', nba.team_abbreviation)
nba.team_abbreviation=np.where(np.isin(nba.team_abbreviation, ['VAN']), 'MEM', nba.team_abbreviation)
nba.team_abbreviation=np.where(np.isin(nba.team_abbreviation, ['NOK']), 'NOP', nba.team_abbreviation)
nba.team_abbreviation=np.where(np.isin(nba.team_abbreviation, ['NOH']), 'NOP', nba.team_abbreviation)

In [7]:
nba.team_abbreviation.unique()
nba[nba["country"]=="Spain"]

,player_name,team_abbreviation,age,player_height,player_weight,country,gp,pts,reb,ast,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
2234,Pau Gasol,MEM,21,213,103.0,Spain,82,17.6,8.9,2.7,0.09,0.18,0.23,0.57,0.13,2001-02
2687,Pau Gasol,MEM,22,213,103.0,Spain,82,19.0,8.8,2.8,0.07,0.20,0.24,0.57,0.13,2002-03
3317,Raul Lopez,UTA,24,182,72.6,Spain,82,7.0,1.9,3.7,0.02,0.10,0.22,0.50,0.36,2003-04
3463,Pau Gasol,MEM,23,213,108.9,Spain,78,17.7,7.7,2.5,0.10,0.18,0.27,0.54,0.14,2003-04
3539,Pau Gasol,MEM,24,213,108.9,Spain,56,17.8,7.3,2.4,0.09,0.18,0.26,0.58,0.14,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12341,Ricky Rubio,CLE,32,187,86.2,Spain,33,5.2,2.1,3.5,0.02,0.11,0.17,0.44,0.30,2022-23
12389,Usman Garuba,HOU,21,203,103.9,Spain,75,3.0,4.1,0.9,0.11,0.19,0.10,0.57,0.10,2022-23
12420,Willy Hernangomez,NOP,29,210,113.4,Spain,38,6.9,4.7,0.9,0.12,0.26,0.22,0.61,0.11,2022-23
12427,Santi Aldama,MEM,22,213,97.5,Spain,77,9.0,4.8,1.3,0.05,0.16,0.16,0.59,0.08,2022-23
12749,Juancho Hernangomez,TOR,27,205,97.1,Spain,42,2.9,2.9,0.6,0.04,0.17,0.09,0.50,0.05,2022-23

In [8]:
nba.to_csv("Nba_Clean.csv")